# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
# Normalize text files to LF
* text=auto

# Explicitly set line endings for specific files
*.dart text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.swift text eol=lf
*.cc text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.lock text eol=lf
*.pbxproj text eol=lf

# Binary files should not have line ending changes
*.png binary
*.jpg binary
*.ico binary
*.jar binary
*.dll binary

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
